<div id="content-topic-3">
    <section class="intro-heading">
        <h3 id="intro-heading">Introduction</h3>
        <p>Visual disabilities can be a result of many different causes, let them be part of them individual when they are born or developed after a traumatic brain injury, etc. No matter the cause, these disabilities cause similar challenges to users when they navigate the web.</p>
        <p>The main idea of web accessibility for people with visual disabilities is enabling people with disabilities to perceive, understand, navigate, interact with, and contribute to the web.</p>
        <p>This section will focus on what we can do to build an accessible web product for people with visual disabilities.</p>
    </section>
    <section aria-labelledby="assistive-tech-heading">
        <h3 id="assistive-tech-heading">Assistive Technologies</h3>
        <p>There are many assistive technologies that can be used to make it easier for people with visual disabilities to navigate through the web. Some of them include:</p>
        <ul>
            <li>Screen readers</li>
            <li>Magnifiers</li>
            <li>Voiceover</li>
            <li>Braille displays etc.</li>
        </ul>
        <p>However, these assistive technologies alone are not enough to make the web accessible to users with disabilities. Here are four ways to improve accessibility:</p>
    </section>
    <section aria-labelledby="keyboard-navigation-heading">
        <h4 id="keyboard-navigation-heading">1. Support Effective Keyboard Navigation</h4>
        <p>Keyboard shortcuts can make navigation for visually impaired users far easier. A mouse is not useful for navigating because it requires hand-eye coordination.</p>
        <p>This is especially true for users who: </p>
        <ul>
            <li>are blind</li>
            <li>use screen readers to surf the Web.</li>
        </ul>
        <p>For people with low vision, keyboard commands make it possible to navigate a site without having to strenuously focus and follow a mouse cursor across the screen.</p>
    </section>

    <section aria-labelledby="color-usage-heading">
        <h4 id="color-usage-heading">2. Limit and prioritize color in the interface</h4>
        <p>Test colors to make sure they have the proper contrast ratio for readability.</p>
        <p>One tool you may use to test combinations of text color on background color is Stark plugin.</p>
        <p>There are some needed text sizes like: </p>
        <ul>
            <li>WCAG 2.0 level AA requires a contrast ratio of 4.5:1 for normal text</li>
            <li>3:1 for large text</li>
        </ul>
    </section>

    <section aria-labelledby="communicate-information-heading">
        <h4 id="communicate-information-heading">3. Don’t rely on color alone to communicate important information</h4>
        <p>When it comes to:
            <ul>
                <li>alerts</li>
                <li>warnings and</li>
                <li>actionable page</li>
            </ul>
            elements such as textual 
            <ul>
                <li>links and</li>
                <li>buttons</li>
            </ul>
            clarify that these are meaningful to the user by incorporating more than a simple color change.</p>
        <p>Almost universally, people understand that underlined blue text is a link.</p>
        <p>Users will benefit from the use of icons and relevant labels accompanying alerts and actionable page elements. Each page element should have more than one visual cue.</p>
        <p>Some examples of visual cues are:</p>
        <ul>
            <li>Images</li>
            <li>Links</li>
            <li>Buttons</li>
        </ul>
    </section>

    <section>
    <h5>Here is a brief video that talks about the different visual disabilities and how you can use a screen reader as assistive technology and a way to help you navigate through the web.</h5>
    <iframe
        class="embed-youtube-video"
        title="Video explaining accessibility for visual disabilities as well as the use of screen readers"
        src="https://www.youtube.com/embed/50HYtOTMhe0?si=wnDrnRVA-05vfL7S"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</section>
</div>