<div id="content-topic-4">
    <section class="intro-heading">
        <h3 id="intro-heading">Introduction</h3>
        <p>Cognitive disability (also known as intellectual disability) is a nebulous term describing a person who has greater difficulty with mental tasks than the average person. Cognitive disabilities are by far the most common type of disability.</p>
        <p>The cause of cognitive disabilities most often is genetics. Another cause of it can be traumatic brain injuries. No matter the reason for these disabilities, it needs to be taken into account the need to create an accessible environment for people with this kind of disabilities.</p>
        <p>This section will teach us more about cognitive disabilities, as well as focus on what we can do to build an accessible web product for people with cognitive disabilities.</p>
    </section>
    <section aria-labelledby="cognitive-accessibility-heading">
        <h3 id="cognitive-accessibility-heading">Cognitive accessibility</h3>
        <p>Cognitive accessibility is the practice of designing and developing digital content to make it easily understandable and usable by individuals with cognitive disabilities. These disabilities include:</p>
        <ul>
            <li>Dyslexia</li>
            <li>Autism</li>
            <li>Attention deficit hyperactivity disorder (ADHD)</li>
        </ul>
    </section>
    <section aria-labelledby="disability-classifications-heading">
        <h4 id="disability-classifications-heading">Classifications of cognitive disabilities:</h4>
        <p>There are actually two types of classifications of cognitive disabilities</p>
        <ul>
            <li>
                Clinical Classifications
                <p style="margin-left: 20px;">-Clinical diagnoses may be useful from a medical perspective for treatment, but not for the purposes of web accessibility.</p>
                <ul>
                    <li>Autism</li>
                    <li>Down syndrome</li>
                    <li>Traumatic brain injury (TBI)</li>
                    <li>Dementia</li>
                    <li>Attention deficit disorder (ADD)</li>
                    <li>Dyslexia (difficulty reading)</li>
                    <li>Dyscalculia (difficulty with math)</li>
                </ul>
            </li>
            <li>Functional Classifications
                <p style="margin-left: 20px;">-We will talk more about this classification in the next section.</p>
            </li>
        </ul>        
    </section>

    <section aria-labelledby="functional-classification-heading">
        <h4 id="functional-classification-heading">Functional Classifications</h4>
        <p>Functional diagnoses are more useful for the purposes of web accessibility since it focuses on the user's abilities and challenges, irrespective of their medical or behavioral causes.</p>
        <p>Multiple functional disabilities can stem from one clinical diagnosis: A person with memory deficits may also have difficulty with attention or problem-solving.</p>
        <p>Functional categories of cognitive disabilities include difficulties with: </p>
        <ul>
            <li>Memory</li>
            <li>Problem-solving</li>
            <li>Attention</li>
            <li>Reading, linguistic, and verbal comprehension</li>
            <li>Math comprehension</li>
            <li>Visual comprehension</li>
        </ul>
        <p>Functional classifications are useful in web accessibility because they align to concerns of web designers and developers.</p>
    </section>

    <section aria-labelledby="accessibility-requirements-heading">
        <h4 id="accessibility-requirements-heading">How to make a website accessible for cognitive disabilities</h4>
        <p>The Web Content Accessibility Guidelines (WCAG) include specific requirements for cognitive web accessibility, such as:</p>
        <ul>
            <li>
                <strong>Adaptability:</strong> Create content that can be presented in different ways (for example, a simpler layout) without losing information or structure. This ensures that users can customize the content presentation to suit their needs.
            </li>
            <li>
                <strong>Distinguishability:</strong> Make it easier for users to see and hear content by separating foreground from background. This includes ensuring sufficient contrast and avoiding background audio that interferes with foreground content.
            </li>
            <li>
                <strong>Sufficient Time:</strong> Provide users enough time to read and use content. Avoid imposing time limits, or offer options to extend or remove them, accommodating users who may require more time to process information.
            </li>
            <li>
                <strong>Readability:</strong> Make text content readable and understandable. Use clear and simple language, define unusual terms, and expand abbreviations to aid comprehension. 
            </li>
            <li>
                <strong>Predictability:</strong> Create web pages that appear and operate in predictable ways. Consistent navigation and predictable functionality help users understand and interact with the website more easily.
            </li>
            <li>
                <strong>Input Assistance:</strong> Help users avoid and correct mistakes. Provide clear instructions, error suggestions, and confirmations to support users in completing forms and other interactive elements. 
            </li>
        </ul>
        <p>Implementing these guidelines can significantly enhance the accessibility of your website for individuals with cognitive disabilities.</p>
    </section>

    <section>
    <h5>Here is a brief video that talks about how you can recognize cognitive disabilities and how to accomodate the needs of people with cognitive disabilities.</h5>
    <iframe
        class="embed-youtube-video"
        title="Video explaining how you can recognize cognitive disabilities and how to accomodate the needs of people with cognitive disabilities."
        src="https://www.youtube.com/embed/Q8gAB3oGiK4?si=RqH_cHOjE_Yijg1W"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</section>
</div>