<div id="content-topic-8">
    <section class="intro-heading">
        <h3 id="intro-heading">Introduction</h3>
        <p>Motor disabilities can be a result of many different causes, causing similar challenges to users when they navigate the web.</p>
        <p>The main idea of web accessibility for people with motor disabilities is making websites <strong>Operable</strong> since not everyone can use a mouse, click tiny links, or easily control interactive features. This section will focus on what we can do to build an accessible web product for people with motor disabilities.</p>
    </section>
    <section aria-labelledby="assistive-tech-heading">
        <h3 id="assistive-tech-heading">Assistive Technologies</h3>
        <p>There are many assistive technologies that can be used to make it easier for people with motor disabilities to navigate through the web. Some of them include:</p>
        <ul>
            <li>Head wands</li>
            <li>Mouth sticks</li>
            <li>Sip-and-puff switches</li>
            <li>Single switches</li>
        </ul>
        <p>However, these assistive technologies alone are not enough to make the web accessible to users with disabilities. Here are three ways to improve accessibility:</p>
    </section>
    <section aria-labelledby="keyboard-navigation-heading">
        <h4 id="keyboard-navigation-heading">1. Support Effective Keyboard Navigation</h4>
        <p>People with motor disabilities often find it impossible to use a mouse. By making your website effectively usable with a keyboard, you open up access to users of these assistive technologies. Specifically, ensure that the keyboard focus elements are visible on your page using CSS.</p>
    </section>

    <section aria-labelledby="reduce-keypress-heading">
        <h4 id="reduce-keypress-heading">2. Reduce Actions that Require Too Many Keypresses</h4>
        <p>Most motor-assistive tools rely on small, specific muscle groups. For example:</p>
        <ul>
            <li>Head wand users rely on their neck muscles for every action.</li>
            <li>Mouth stick users use mouth movements to select keys on a virtual keyboard.</li>
        </ul>
        <p>To reduce fatigue, provide practical ways to navigate your site with fewer actions. For example:</p>
        <ul>
            <li>Allow skipping to the end of long pages or lists with a single click.</li>
            <li>Structure navigation menus as multi-level trees.</li>
        </ul>
    </section>

    <section aria-labelledby="search-field-heading">
        <h4 id="search-field-heading">3. Add a Search Field to Your Website</h4>
        <p>Some users with motor disabilities rely on voice recognition systems. While these systems simplify navigation, it’s usually easier to type a phrase into a text field using speech recognition than to select specific elements on the page with voice commands.</p>
        <p>Optimize search functionality by ensuring your pages are indexed and search results are sorted in a user-friendly way.</p>
    </section>

    <section>
    <h5>Here is a brief video that discusses the best practices for making your app easier to use and talk about testing for accessibility to improve your app's user experience for all users.</h5>
    <iframe
        class="embed-youtube-video"
        title="Video explaining best practices for developing accessible apps"
        src="https://www.youtube.com/embed/ElifzykHt7U?si=3KJsO9R85KOQLJGC"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</section>
</div>