<div id="content-topic-7">
    <section class="intro-heading">
        <h4 id="intro-heading">Introduction</h4>
        <p>Color plays a crucial role in web design, impacting aesthetics, usability, and accessibility.</p>
        <p>Designing with accessibility in mind ensures that your product is usable by a diverse audience, including people with visual impairments or color vision deficiencies.</p>
        <p>This section will focus on key principles and best practices for creating an accessible color design for web products.</p>
    </section>
    <section aria-labelledby="color-contrast-heading">
        <h3 id="color-contrast-heading">Color Contrast</h3>
        <p>Text and interactive elements should have a high contrast ratio against their background to ensure readability for users with low vision or color blindness. Some of them include:</p>
        <ul>
            <li>For normal text, a contrast ratio of at least 4.5:1 is recommended</li>
            <li>For large text (18pt or larger), a ratio of 3:1 is acceptable</li>
        </ul>
        <p>Tools like the WebAIM Color Contrast Checker can help assess and adjust contrast levels.</p>
    </section>
    <section aria-labelledby="conveying-information-heading">
        <h3 id="conveying-information-heading">Avoid Relying Solely on Color to Convey Information</h3>
        <p>conveying-information</p>
        <p>Relying on color alone can make it difficult for these users to understand content.</p>
        <p>To achieve it, you have to use:</p>
        <ul>
            <li>text labels</li>
            <li>patterns</li>
            <li>icons</li>
            <li>shapes </li>
        </ul>
        <p> For example, a red warning message should also include a symbol like an exclamation mark or the word "Warning" in text.</p>
    </section>

    <section aria-labelledby="color-combinations-heading">
        <h3 id="color-combinations-heading">Use Color Combinations That Are Accessible to Colorblind Users</h3>
        <p> Certain color combinations, such as red-green or blue-yellow, are problematic for colorblind users.</p>
        <p>In order to make sure that your web product is accessible for everyone, you have to: </p>
        <ul>
            <li>Test color palettes using color blindness simulators to ensure that your color choices are distinguishable for users with different types of color vision deficiencies.</li>
            <li>Use tools like the Color Oracle or Coblis (Color Blindness Simulator) to help you identify problematic combinations.</li>
        </ul>
    </section>

    <section aria-labelledby="color-context-heading">
        <h3 id="color-context-heading">Consider Color Context</h3>
        <p>The meaning and effectiveness of color can change depending on the surrounding colors and design context.</p>
        <p>Always check how colors interact with each other, ensuring they do not cause visual confusion or overload.</p>
        <p>For instance, avoid placing two high-contrast colors next to each other, as they might create visual discomfort or strain.</p>
    </section>

    <section aria-labelledby="color-customization-heading">
        <h3 id="color-customization-heading">Offer Customization Options</h3>
        <p>Customization options can provide flexibility to users and help address a variety of individual needs and preferences, which can vary significantly among users.</p>
        <p>In order to allow users to adjust color schemes can make a website more accessible for people with specific needs or preferences.</p>
        <p>In order to make sure that your web product is accessible for everyone, you have to: </p>
        <ul>
            <li>Implement customizable themes</li>
            <li>Include high-contrast or dark mode options</li>
            <li>Provide clear instructions on how users can switch between these modes</li>
            <li>Ensure that these options don’t interfere with content readability or functionality</li>
        </ul>
    </section>
    <br>
    <section>
        <h5>Here is a brief video that discusses the best practices for making your app easier to use and talk about testing for accessibility to improve your app's user experience for all users.</h5>
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/VhO_dD5mkFA?si=pWPPic2iRhXtGgTV" 
            title="YouTube video player about what Web Accessibility is and Why It Is Important. Web Design Usability. Accessible Web Design" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </section>
</div>


