<div id="content-topic-2">
    <section class="intro-heading">
        <h3 id="intro-heading">Introduction</h3>
        <p>On terms of accessibility, semantic HTML gives deeper meaning and relationships to page organization – encouraging website clarity.</p>
        <p>This gives direct accessibility gains allowing disabled users to independently interact with software.</p>
    </section>
    <section aria-labelledby="html-elements-heading">
        <h3 id="html-elements-heading">HTML elements</h3>
        <p>HTML elements are divided into:</p>
        <ul>
            <li>semantic elements</li>
            <li>non-semantic elements</li>
        </ul>
        <p>A semantic element clearly describes its meaning to both the browser and the developer.Some examples of semantic elements are :</p>
        <ul>
            <li>&lt;form&gt;</li>
            <li>&lt;table&gt;</li>
            <li>&lt;article&gt;</li>
        </ul>
        <p>Whereas some examples of non-semantic HTML elements are:</p>
        <ul>
            <li>&lt;div&gt;</li>
            <li>&lt;span&gt;</li>

        </ul>
    </section>
    <section aria-labelledby="section-element-heading">
        <h4 id="section-element-heading">HTML &lt;section&gt; Element</h4>
        <p>The &lt;section&gt; element defines a section in a document. Some examples where a section tag can be used: </p>
        <ul>
            <li>Chapters</li>
            <li>Introduction</li>
            <li>News items</li>
            <li>Contact information</li>
        </ul>
    </section>

    <section aria-labelledby="article-element-heading">
        <h4 id="article-element-heading">HTML &lt;article&gt; Element</h4>
        <p>The &lt;article&gt; element specifies independent, self-contained content. An article should make sense on its own, and it should be possible to distribute it independently from the rest of the web site.</p>
        <p>Some examples where you can use an article are: </p>
        <ul>
            <li>Forum posts</li>
            <li>Blog posts</li>
            <li>User comments</li>
            <li>Product cards</li>
            <li>Newspaper articles</li>
        </ul>
    </section>

    <section>
    <h5>Here is a brief video that talks about the reasons why and the cases when semantic HTML elements should be used over the div tag.</h5>
    <iframe
        class="embed-youtube-video"
        title="Video explaining reasons why and the cases when semantic HTML elements should be used over the div tag"
        src="https://www.youtube.com/embed/bOUhq46fd5g?si=A1NDrg5vOfoZNJXl"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</section>
</div>