<div id="content-topic-7">
    <h5>Introduction</h5>
    <p>There is an obvious ethical argument to make digital content accessible to everyone, regardless of ability.
        Designing digital technologies for all is even mentioned in several professional Codes of Conduct. However,
        ethics
        and the law do not always go hand in hand. This section will focus on the legality surrounding digital
        accessibility.</p>
    <h5>Convention on the Rights of the Persons with Disabilities (CRPD)</h5>
    <p>The CRPD is an international treaty that was adopted by the United Nations General Assembly in 2006. The purpose
        of the convention is to:</p>
    <blockquote>Promote, protect and ensure the full and equal enjoyment of all human rights and fundamental freedoms by
        all persons with disabilities, and to promote respect for their inherent dignity.
    </blockquote>
    <p>The treaty has several key principles:</p>
    <ul>
        <li>Respect for inherent dignity, individual autonomy including the freedom to make one's own choices, and
            independence of persons
        </li>
        <li>Non-discrimination</li>
        <li>Full and effective participation and inclusion in society</li>
        <li>Respect for difference and acceptance of persons with disabilities as part of human diversity and humanity
        </li>
        <li>Equality of opportunity</li>
        <li><b>Accessibility</b></li>
        <li>Equality between men and women</li>
        <li>Respect for the evolving capacities of children with disabilities and respect for the right of children with
            disabilities to preserve their identities
        </li>
    </ul>
    <p>Here is a brief video that summarises CRPD:</p>

    <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/St61pEPUuFw"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</div>