<div id="content-topic-4">
    <section class="intro-heading">
        <h3 id="intro-heading">{{h3-1}}</h3>
        <p>{{p-1}}</p>
        <p>{{p-2}}</p>
        <p>{{p-3}}</p>
    </section>
    <section aria-labelledby="cognitive-accessibility-heading">
        <h3 id="cognitive-accessibility-heading">{{h3-2}}</h3>
        <p>{{p-4}}</p>
        <ul>{{ul-1}}</ul>
    </section>
    <section aria-labelledby="disability-classifications-heading">
        <h3 id="disability-classifications-heading">{{h3-3}}</h3>
        <p>{{p-5}}</p>
        <ul>{{ul-2}}</ul>        
    </section>

    <section aria-labelledby="functional-classification-heading">
        <h3 id="functional-classification-heading">{{h3-4}}</h3>
        <p>{{p-6}}</p>
        <p>{{p-7}}</p>
        <p>{{p-8}}</p>
        <ul>{{ul-3}}</ul>
        <p>{{p-9}}</p>
    </section>

    <section aria-labelledby="accessibility-requirements-heading">
        <h3 id="accessibility-requirements-heading">{{h3-5}}</h3>
        <p>{{p-10}}</p>
        <ul>{{ul-4}}</ul>
        <p>{{p-11}}</p>
    </section>

    <section>
    <h4>{{h4-1}}</h4>
    <iframe
        class="embed-youtube-video"
        title="Video explaining how you can recognize cognitive disabilities and how to accomodate the needs of people with cognitive disabilities."
        src="https://www.youtube.com/embed/Q8gAB3oGiK4?si=RqH_cHOjE_Yijg1W"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</section>
</div>