<div id="content-topic-7">
    <h3>{{h3-1}}</h3>
    <p>{{p-1}}</p>
    <p>{{p-2}}</p>
    <blockquote>{{blq-1}}</blockquote>
    <p>{{p-3}}</p>
    <ul>{{ul-1}}</ul>
    <p>{{p-4}}</p>

    <iframe
        class="embed-youtube-video"
        title="Video explaining the UN's Convention on the Rights of the Persons with Disabilities"
        src="https://www.youtube.com/embed/St61pEPUuFw"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>