<div id="content-topic-6">
    <section class="intro-heading">
        <h2 id="intro-heading">{{h3-1}}</h2>
        <p>{{p-1}}</p>
        <p>{{p-2}}</p>
    </section>
    <section aria-labelledby="assistive-tech-heading">
        <h2 id="assistive-tech-heading">{{h3-2}}</h2>
        <p>{{p-3}}</p>
        <ul aria-label="List of assistive technologies for people with motor disabilities">{{ul-1}}</ul>
        <p>{{p-4}}</p>
    </section>
    <section aria-labelledby="keyboard-navigation-heading">
        <h3 id="keyboard-navigation-heading">{{h3-3}}</h3>
        <p>{{p-5}}</p>
    </section>
    <section aria-labelledby="reduce-keypress-heading">
        <h3 id="reduce-keypress-heading">{{h3-4}}</h3>
        <p>{{p-6}}</p>
        <ul aria-label="Assistive technology dependence on muscle groups">{{ul-2}}</ul>
        <p>{{p-7}}</p>
        <ul aria-label="List of features that need to be implemented to make site navigation more convenient with fewer actions">{{ul-3}}</ul>
    </section>
    <section aria-labelledby="search-field-heading">
        <h4 id="search-field-heading">{{h3-5}}</h4>
        <p>{{p-8}}</p>
        <p>{{p-9}}</p>
    </section>
    <section aria-labelledby="video-section-heading">
        <h5 id="video-section-heading">{{h5-1}}</h5>
        <iframe class="embed-youtube-video" src="https://www.youtube.com/embed/ElifzykHt7U?si=3KJsO9R85KOQLJGC"
            title="How to test your app for accessibility to improve overall user experience."
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </section>
</div>