<div id="content-topic-3">
    <section class="intro-heading">
        <h3 id="intro-heading">{{h3-1}}</h3>
        <p>{{p-1}}</p>
        <p>{{p-2}}</p>
        <p>{{p-3}}</p>
    </section>
    <section aria-labelledby="assistive-tech-heading">
        <h3 id="assistive-tech-heading">{{h3-2}}</h3>
        <p>{{p-4}}</p>
        <ul aria-label="List of assistive technologies">{{ul-1}}</ul>
        <p>{{p-5}}</p>
    </section>
    <section aria-labelledby="keyboard-navigation-heading">
        <h3 id="keyboard-navigation-heading">{{h3-3}}</h3>
        <p>{{p-6}}</p>
        <p>{{p-7}}</p>
        <ul aria-label="Keyboard navigation is very useful for">{{ul-2}}</ul>
        <p>{{p-8}}</p>
    </section>

    <section aria-labelledby="color-usage-heading">
        <h3 id="color-usage-heading">{{h3-4}}</h3>
        <p>{{p-9}}</p>
        <ul aria-label="List of needed text sizes">{{ul-3}}</ul>
    </section>

    <section aria-labelledby="communicate-information-heading">
        <h3 id="communicate-information-heading">{{h3-5}}</h3>
        <p>{{p-10}}</p>
        <p>{{p-11}}</p>
        <ul aria-label="Examples of visual cues">{{ul-4}}</ul>
    </section>

    <section aria-labelledby="video-section-heading">
        <h4 id="video-section-heading">{{h4-1}}</h4>
        <iframe class="embed-youtube-video"
            title="Video explaining accessibility for visual disabilities as well as the use of screen readers"
            src="https://www.youtube.com/embed/50HYtOTMhe0?si=wnDrnRVA-05vfL7S"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </section>
</div>