<div id="content-topic-8">
    <section class="intro-heading">
        <h3 id="intro-heading">{{h3-1}}</h3>
        <p>{{p-1}}</p>
        <p>{{p-2}}</p>
        <p>{{p-3}}</p>
    </section>

    <section aria-labelledby="color-contrast-heading">
        <h3 id="color-contrast-heading">{{h3-2}}</h3>
        <p>{{p-4}}</p>
        <ul aria-label="Examples of color contrast considerations">{{ul-1}}</ul>
        <p>{{p-5}}</p>
    </section>

    <section aria-labelledby="conveying-information-heading">
        <h3 id="conveying-information-heading">{{h3-3}}</h3>
        <p>{{p-6}}</p>
        <p>{{p-7}}</p>
        <ul aria-label="Alternatives to relying on color alone for conveying information">{{ul-2}}</ul>
        <p>{{p-8}}</p>
    </section>

    <section aria-labelledby="color-combinations-heading">
        <h3 id="color-combinations-heading">{{h3-4}}</h3>
        <p>{{p-9}}</p>
        <p>{{p-10}}</p>
        <ul aria-label="Best practices to determine proper color combinations">{{ul-3}}</ul>
    </section>

    <section aria-labelledby="color-context-heading">
        <h3 id="color-context-heading">{{h3-5}}</h3>
        <p>{{p-11}}</p>
        <p>{{p-12}}</p>
    </section>

    <section aria-labelledby="color-customization-heading">
        <h3 id="color-customization-heading">{{h3-6}}</h3>
        <p>{{p-13}}</p>
        <p>{{p-14}}</p>
        <p>{{p-15}}</p>
        <ul aria-label="Options for implementing customizable themes and accessibility modes">{{ul-4}}</ul>
    </section>

    <section aria-labelledby="video-section-heading">
        <h3 id="video-section-heading">{{h3-7}}</h3>
        <p>{{p-16}}</p>
        <iframe class="embed-youtube-video" title="Video about what web accessibility is and why it is important"
            src="https://www.youtube.com/embed/VhO_dD5mkFA?si=pWPPic2iRhXtGgTV"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </section>
</div>