<div id="content-topic-10">
    <section class="intro-heading">
        <h3 id="intro-heading">{{h3-1}}</h3>
        <p>{{p-1}}</p>
    </section>

    <section aria-labelledby="wcag-principles-heading">
        <h3 id="wcag-principles-heading">{{h3-2}}</h3>
        <p>{{p-2}}</p>
        <ul aria-label="Key principles of WCAG">{{ul-1}}</ul>
    </section>

    <section aria-labelledby="wcag-success-criteria-heading">
        <h3 id="wcag-success-criteria-heading">{{h3-3}}</h3>
        <p>{{p-3}}</p>
        <ul aria-label="Levels of WCAG success criteria">{{ul-2}}</ul>
    </section>

    <section aria-labelledby="importance-of-wcag-heading">
        <h3 id="importance-of-wcag-heading">{{h3-4}}</h3>
        <p>{{p-4}}</p>
    </section>

    <section aria-labelledby="implementing-wcag-heading">
        <h3 id="implementing-wcag-heading">{{h3-5}}</h3>
        <p>{{p-5}}</p>
        <ul aria-label="Steps to implement WCAG">{{ul-3}}</ul>
    </section>

    <section aria-labelledby="additional-resources-heading">
        <h3 id="additional-resources-heading">{{h3-6}}</h3>
        <p>{{p-6}}</p>
    </section>
</div>