<div id="content-topic-7">
    <h3 id="introduction-heading">{{h3-1}}</h3>
    <p>{{p-1}}</p>
    <p>{{p-2}}</p>
    <blockquote aria-label="Key point about motor disabilities">{{blq-1}}</blockquote>
    <p>{{p-3}}</p>
    <ul aria-label="Examples of assistive technologies for motor disabilities">
        {{ul-1}}
    </ul>
    <p>{{p-4}}</p>
    <h4 id="support-keyboard-navigation-heading">{{h4-1}}</h4>
    <p>{{p-5}}</p>
    <h4 id="reduce-keypress-heading">{{h4-2}}</h4>
    <p>{{p-6}}</p>
    <ul aria-label="Examples of tools for reducing keypress actions">
        {{ul-2}}
    </ul>
    <p>{{p-7}}</p>
    <ul aria-label="Suggestions for reducing navigation fatigue">
        {{ul-3}}
    </ul>
    <h4 id="add-search-field-heading">{{h4-3}}</h4>
    <p>{{p-8}}</p>
    <p>{{p-9}}</p>
</div>